<div class="container-fluid card mt-3 px-5">	

<form enctype="multipart/form-data"(ngSubmit)="onSubmit(form.value)" #form="ngForm">
	<div class="form-group">
		<div class="row mt-5">
			<div class="col-8">
				
				<div class="row row-cols-3 mt-3">
					<div class="col mb-3">
						<input type="text" class="form-control" id="item_name" name="item_name" placeholder="Item Name" ngModel autocomplete="off">
					</div>
					<div class="col mb-3">
						<select class="form-select form-control" name="c_id"
						[(ngModel)]="selectedCat"><option disabled selected hidden> Select Category</option>
						<option *ngFor="let category of categoryArr" [value]="category.c_id">
							{{category.c_name}}
						</option>
					</select>
				</div>
				<div class="col mb-3">
					<select class="form-select form-control" name="p_id"
					[(ngModel)]="selectedPattern">
					<option disabled selected hidden>Select Pattern</option>
					<option *ngFor="let title of pattern" [value]="title.p_id">
						{{title.p_name}}
					</option>
				</select>	
			</div>
			<div class="col mb-3">
				<select class="form-select form-control" name="s_id"
				[(ngModel)]="selectedSize">
				<option disabled selected hidden>Select Size</option>
				<option *ngFor="let title of size" [value]="title.s_id">
					{{title.s_name}}
				</option>
			</select>
		</div>
		<div class="col mb-3">
			<select class="form-select" name="cloth_id"
			[(ngModel)]="selectedMaterial">
			<option selected disabled hidden>Select Material</option>
			<option *ngFor="let title of cloth" [value]="title.cloth_id">
				{{title.material_name}}
			</option>
		</select>
	</div>
	<div class="col mb-3">
		<select class="form-select" name="color_id" 						[(ngModel)]="selectedColor">
			<option  selected disabled hidden>Select Color</option>
			<option *ngFor="let title of color" [value]="title.color_id">
				{{title.color}}
			</option>
		</select>	
	</div>
	<div class="col mb-3">
		<input type="number" class="form-control" id="original_price" name="original_price" placeholder="Rental Amount" [(ngModel)]='originalCost' 
		(change)="getRentAndDeposit()" autocomplete="off">
	</div>
	<div class="col mb-3 price">
		<div> Rental Price will be: <span class="fw-bolder ms-3">{{rental_cost|currency}}</span></div>
	</div>
	<div class="col mb-3 price">
		<div> Deposit will be: <span class="fw-bolder ms-3">{{deposite_cost|currency}}</span></div>	
	</div>

</div>
</div>
<div class="col-4">
<div class="row row-cols-3 mt-3">
	<div class="col mb-3">
		<input type="file" class="form-control-file" accept="image/jpeg"
		id="exampleFormControlFile1" (change)="onFileSelected($event)"
		name='imageName' accept="image/*">
	</div>
</div>
<div *ngIf="imageUrl != ''">
	<img [src]="imageUrl" alt="imageName" width="100" />
</div>
</div>
</div>


</div>	
<div style="display: flex;">
<button type="submit" class="btn btn-primary mb-3 me-5">Submit</button>
<span *ngIf="errorMessage != ''"><div class="alert alert-danger" role="alert">
	Error: {{errorMessage}}
</div></span>
</div>
</form>

</div>