<div class="toolbar navbar navbar-expand-sm py-0 navbar-dark" role="banner">
  <span routerLink="welcome" style="display:flex; cursor: pointer;" routerLinkActive="active">
    <img width="60" alt="Rent-A-Costume Logo" src="./assets/logo.png" />
    <div class="box mt-1 ml-1">
      <div class="h4 my-0 text-light">Costume</div>
      <div style="font-weight: 500">Rental Service</div>
    </div>
  </span>
  <div class="spacer"></div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <div class="header-menu navbar-nav">
    <form class="header-menu nav-item">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <span class="header-menu nav-item login-header" routerLink="login-register">
     <span class="bi bi-person-square"><span class="ml-2">Login</span></span>
     <span style="font-size:11px">or Create Account</span>
   </span>

 </div>
</div>
</div>
