#long-form{
  font-weight: 500;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #1976d2 !important;
  color: white;
  font-weight: 600;
  z-index: 10;
  background-image: linear-gradient(to right, #563d7c, #1976d2);
}

#navbarNavDropdown div div a{
  color: white;
}
#navbarNavDropdown{
  justify-content: flex-end;
}

.login-header:hover{
  color: #ffc107;
  cursor: pointer;
  outline: none;
}

.cursor{
  cursor: pointer;
}

.header-menu{
  cursor: pointer;
  align-self: center;
  margin-right: 20px;
}

.login-header{
  cursor: pointer; 
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.modal-footer, .sign-in{
  background-image: linear-gradient(to right, #563d7c, #1976d2);
  color: white;
}

.modal-footer .register {
  color: yellow;
}

.modal-footer button:hover{
  text-decoration: underline;
}