<div class="toolbar navbar navbar-expand-sm py-0 navbar-dark" role="banner">
  <span routerLink="welcome" style="display:flex; cursor: pointer;" routerLinkActive="active">
    <img width="60" alt="Rent-A-Costume Logo" src="./assets/logo.png" />
    <div class="box mt-1 ml-1">
      <div class="h4 my-0 text-light">Costume</div>
      <div style="font-weight: 500">Rental Service</div>
    </div>
  </span>
  <div class="spacer"></div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <div class="header-menu navbar-nav">
    <form class="header-menu nav-item">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  <div class="mt-2 me-4 position-relative" (click)="openCartFlag = !openCartFlag">
     <i class="bi bi-cart3 my-5"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light border border-danger" style="color:black">
    {{count}}
    <span class="visually-hidden">unread messages</span>
  </span>
   </div>
    <span class="header-menu nav-item login-header" (click)="loginFlag = !loginFlag"
    *ngIf="userName == ''">
     <span class="bi bi-person-square"><span class="ml-2">Login</span></span>
     <span style="font-size:11px">or Create Account</span>
   </span>
   <div class="nav-item" *ngIf="userName != ''">
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{userName}}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><button class="dropdown-item" type="button">Profile</button></li>
        <li><button class="dropdown-item" type="button" (click)="signOut()">LogOut</button></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>

<div *ngIf="loginFlag">
  <app-login-register (closeLogin)="loginOpenClose($event)" 
  (loggedInUser)="updateUserName($event)"></app-login-register>
</div>

<div *ngIf="openCartFlag">
<app-cart-details [showCart]="true"
(closeCartchild)="closeCart($event)"></app-cart-details>
</div>