
 <app-header></app-header>
 <app-header>
	
</app-header>

<!-- <div class="container-fluid content" role="main">
	<app-home></app-home>
<form enctype="multipart/form-data" (ngSubmit)="onSubmit(form)" #form="ngForm">
	<div class="form-group">
		<label for="exampleFormControlFile1">Example file input</label>
		<input type="text" name="fname" [(ngModel)]="fname">
		<input type="text" name="lname" [(ngModel)]="lname">-->


<!-- <app-nav></app-nav>  -->
<div class="content">
	<router-outlet></router-outlet>
</div>
<div class="mt-4">
	Footer
</div>