<div class="row" *ngIf="successAlert">
  <div class="col-8"></div>  
<div class="alert alert-info col-4" role="alert">
  Order Placed Successfully!
</div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-2">
            <div class="vertical-filter">
                <span class="vertical-filters-header">Categories</span>
                <div *ngFor="let item of categoryArr; let i = index;">
                    <input type="checkbox" id="{{item.c_id}}" [value]="item.c_id" (change)="getItem($event, i)">
                    <label for="{{item.c_id}}" class="ms-3"> {{item.c_name}}</label> 

                </div>
            </div>
            <div class="vertical-filter">
                <span class="vertical-filters-header">Pattern</span>
                <div *ngFor="let item of pattern">
                    <input type="checkbox" id="{{item.p_id}}" [value]="item.p_id" (change)="getPattern($event)">
                    <label for="{{item.p_id}}" class="ms-3"> {{item.p_name}}</label>
                </div>
            </div>
            <div class="vertical-filter">
                <span class="vertical-filters-header">Color</span>
                <div *ngFor="let item of color">
                    <input type="checkbox" id="{{item.color_id}}" [value]="item.color_id" (change)="getColor($event)">
                    <label for="{{item.color_id}}" class="ms-3"> {{item.color}}</label>
                </div>
            </div>
            <div class="vertical-filter">
                <span class="vertical-filters-header">Size</span>
                <div *ngFor="let item of size">
                    <input type="checkbox" id="{{item.s_id}}" [value]="item.s_id" (change)="getSize($event)">
                    <label for="{{item.s_id}}" class="ms-3"> {{item.s_name}}</label>
                </div>
            </div>
            <div class="vertical-filter">
                <span class="vertical-filters-header">Clothmaterial</span>
                <div *ngFor="let item of cloth">
                    <input type="checkbox" id="{{item.cloth_id}}" [value]="item.cloth_id" (change)="getCloth($event)">
                    <label for="{{item.cloth_id}}" class="ms-3"> {{item.material_name}}</label>
                </div>
            </div>
        </div>
<div class="col-sm-10">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
<div class="col mb-4" *ngFor="let item of inventory" style="position: relative;">
	<div class="card h-100" [ngStyle]="{'opacity': item.order_count != undefined ? '0.5':'1'}">
		<div class="ratio ratio-4x3">
			<img [src]="item.image" class="card-img-top img-thumbnail" alt="Inventory Item">
		</div>
		<div class="card-body">
			<div class="card-text">
				<div class="buy-item-box">
					<div class="card-content">
						<span><h3 style="font-size: 1rem;" class="mb-0 fw-bold"
							>{{item.item_name}}</h3> </span>
							<span class="fst-italic">{{item.p_name}}-{{item.material_name}}</span>
						</div>
						<p class="mb-0"><span class="fw-bolder">size: </span>{{item.s_name}}</p>
						<div class="fw-normal fw-bolder">{{item.rental_price|currency}}
							<span class="text-decoration-line-through fw-lighter">{{item.original_price|currency}}</span>
						</div>
                        <p><span class="fw-bolder">Deposit Required: </span>{{item.advance_amount}}</p>
                        <button class="btn btn-primary btn-sm btn d-grid gap-2 col-6 mx-auto mt-2" (click)="addCart(item.item_id, $event.target)"
                        [ngClass]="{'disabled': item.order_count != undefined
                        || item.Laundry_count != null}">
                            Add Cart
                        </button>
					</div>
				</div>
			</div>
	</div>
	<div *ngIf="item.order_count"
	[ngClass]="{'centered': item.order_count != undefined}">Out Of Stock
    <div>Approx. availability by {{item.item_available_On}}</div>
</div>
	<!-- <div class="centered">In Laundry</div> -->
	

<div *ngIf="item.Laundry_count" [ngClass]="{'laundry-status': item.Laundry_count != null}"> In Laundry
<div>Available on {{item.expected_laundry_out_date}}</div></div>
</div>
		</div>
	</div>
</div>

<div *ngIf="openCartFlag">
<app-cart-details [showCart]="true"
(closeCartchild)="closeCart($event)"></app-cart-details>
</div>