<div class="corosal" style="height: 300px;
    width: 100%;
    background-color: powderblue;">
	Hello
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 my-4">
	<div class="col mb-4">
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <img src="assets/lehenga2.jpg" class="card-img-top img-thumbnail" alt="Auto Parts">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>30$</h3> </span>
              <span>Michigan</span>
            </div>
            <div><strong>Bridal Lehenga</strong> 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <img src="assets/lehenga2.jpg" class="card-img-top img-thumbnail" alt="Auto Parts">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>30$</h3> </span>
              <span>Michigan</span>
            </div>
            <div><strong>Bridal Lehenga</strong> 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <img src="assets/lehenga2.jpg" class="card-img-top img-thumbnail" alt="Auto Parts">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>30$</h3> </span>
              <span>Michigan</span>
            </div>
            <div><strong>Bridal Lehenga</strong> 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <img src="assets/lehenga2.jpg" class="card-img-top img-thumbnail" alt="Auto Parts">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>30$</h3> </span>
              <span>Michigan</span>
            </div>
            <div><strong>Bridal Lehenga</strong> 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <img src="assets/lehenga2.jpg" class="card-img-top img-thumbnail" alt="Auto Parts">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>30$</h3> </span>
              <span>Michigan</span>
            </div>
            <div><strong>Bridal Lehenga</strong> 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="ratio ratio-4x3">
        <img src="assets/lehenga2.jpg" class="card-img-top img-thumbnail" alt="Auto Parts">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>30$</h3> </span>
              <span>Michigan</span>
            </div>
            <div><strong>Bridal Lehenga</strong> 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
